.clearfix {
	  overflow: auto;
}

/*-------------------side navigation bar--------------------*/
.navigation ul li {
  list-style: none;
  display: inline;
  font-size: 30px;
}

.navigation ul li a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
}

.navigation hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
}


.sidenav a i {
  margin-left: 10px;
  
}

.sidenav a:hover {
  color: #eee;
  background: lightblue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*-------------------Inner content-------------------*/
*.inner-part h3 {
  text-decoration: underline;
  margin-left: 10px;
  font-family: 'Roboto Mono', monospace;
}
*.inner-part p {
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
}
.inner-part  {
  margin-top: 50px;
  margin-left: 350px;
  margin-right: 150px;
  background: #eee;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first-name {
  border: 2px solid black;
  margin-bottom: 15px;
  width: 400px;
  background: white;
}

.last-name {
  border: 2px solid black;
  margin-bottom: 15px;
  width: 400px;
  background: white;
}

.email {
  border: 2px solid black;
  margin-bottom: 15px;
  width: 400px;
  background: white;
}

.change-details {
  float: right;
}

.phone-number {
  border: 2px solid black;
  margin-bottom: 15px;
  width: 400px;
  background: white;
}

.country {
  border: 2px solid black;
  margin-bottom: 15px;
  width: 400px;
  background: white;
}

.address {
  border: 2px solid black;
  margin-bottom: 15px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;

}
.inner-part button {
  font-weight: bold;
  padding: 10px;
  width: 300px;
  margin: 0;
  background: white;
  border-radius: 5px;
  border-style: none;
  border: 2px solid orange;
  margin-top: 100px;
  /*opacity: 0.6;*/
  transition: 0.3s;

}
.inner-part button:hover {
  background: orange;
  opacity: 1;
}
/*--------------------footer-tag--------------------*/
.footer {
  padding: 5px;
  margin-top: 150px;
  width: 100%;
  border-top: 2px solid black;
  color: black;
  font-size: 17px;

}

.footer p  {
  display: inline;
#main .inner-part h2 {
}
