.clearfix {
	  overflow: auto;
}

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
  width: 1200px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

html { font-family: 'Open Sans', sans-serif;}

hr { background-color: black; border: 0 none; color: #eee; height: 2px; }
/*------------------------nav-bar-------------------*/
.main-nav {
	display: flex;
	list-style: none;
	font-size: 20;
}

li  {
	padding: 15px;
}

.logo img {
	width: 100px;
	height: 100px;
	position: relative;
	left: 20px;
	
}

.logo-name a {
	position: relative;
	top: 12px;
	color: #1f3d7a;
	font-size: 50px;
	text-decoration: none;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1px;
}

.item  {
	position: relative;
	left: 30px;
	top: 30px;
}

.item  a {
	text-decoration: none;
	border: 2px solid #28a745;
	font-weight: bold;
	padding: 8px;
	border-radius: 0.25rem;
	color: #1f3d7a;

}

.item a:hover {
	background: #28a745;
    opacity: 1;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	color: #f5f5f6;
	text-decoration: underline;
	font-weight: bold;
}

.push {
	margin-left: auto;
	position: relative;
	top: 22px;
}

.last {
	position: relative;
	top: 22px;
}

.push input {
	padding: 8px;
	border-radius: 0.25rem;
	font-family: 'Open Sans', sans-serif;
	border: 2px solid #ced4da; 
	width: 180px;
}

input:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
  text-decoration: underline;
}

.push button {
	padding: 8px;
	margin-left: 5px;
	background: none;
	border-radius: 0.25rem;
	font-family: 'Open Sans', sans-serif;
	border:  2px solid #28a745;
	font-weight: bold;
}

.push button:hover {
	background:#28a745;
	color: #f5f5f6;
}

.last select{
	padding: 8px;
	width: 90px;
	border: 2px solid black;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0.25rem;
}


/*------------------------welcome-note-------------------*/
.welcome-note p {
	text-align: center;
	margin-top: 50px;
	font-size: 40px;
	border-bottom: 2px solid black;
}

/*-----------------------Inner carousel--------------------------*/

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.mySlides {
  display: none;
}
<<<<<<< HEAD
*/
.card {
	margin-bottom: 50px;
	display: inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	margin-left: 79px;
	text-align: center;
  	font-family: arial;
=======

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
>>>>>>> 980dd83f985efe91ab8ace8a5fe425427acd9470
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

<<<<<<< HEAD
.card p button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
  
.card button:hover {
	opacity: 0.7;
}

.show-hide-button-1 {
	margin-top: 50px;
	margin-left: 550px;
	padding: 8px;
	background: no-repeat;
	border: 2px solid #9999ff; border-radius: 8px;
	width: 200px;
=======
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
>>>>>>> 980dd83f985efe91ab8ace8a5fe425427acd9470
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


<<<<<<< HEAD
/* .card {
	display: inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 300px;
  	margin-left: 79px;
  	text-align: center;
  	font-family: arial;
}

.price {
  	color: grey;
  	font-size: 18px;
} */
=======
/*-----------------------featured item list------------------------*/
.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 50px 23px 100px 23px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.card h4, p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.price {
  color: grey;
  font-size: 18px;
  margin: 10px 0 10px 0;
}
>>>>>>> 980dd83f985efe91ab8ace8a5fe425427acd9470

/* .card p button {
  border: none;
  outline: 0;
  padding: 10px;
<<<<<<< HEAD
  color: white;
  outline: #9999ff;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */
=======
  outline: #9999ff;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #1f3d7a;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.card button:hover {
  background:  rgb(215, 225, 244);
  color: #1f3d7a;
  border-bottom: 2px solid #1f3d7a;
}
>>>>>>> 980dd83f985efe91ab8ace8a5fe425427acd9470

/*-----------------------bottom part----------------------------------------------*/
.bottom-part table {
	margin: 50px 150px 40px 180px;
	width: 1200px;
}

.thead td{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  width: 200px;
}

.bottom-part table tr td a {
	text-decoration: none;
	color: #1f3d7a;
}

.bottom-part table tr td a:hover {
	text-decoration: underline;
}

/*--------------------footer-tag--------------------*/
.footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer ul li {
  font-size: 17px;
  display: inline-block;
}





