  .contact {
    padding: 60px;
    text-align: center;
    background-image: url("../images/contact.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color:black;
    margin-top: 30px;
  }

#country {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  }

#subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  } 

#fname {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

#lname {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

 .acontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .acolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .arow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .acolumn, {
      width: 100%;
      margin-top: 0;
    }
  }