.clearfix {
	  overflow: auto;
}

.container{
	margin-right: 120px; margin-left: 120px;

}

/*------------------------nav-bar-------------------*/
.nav-bar .navbar-image a img {
	float: left;
	margin-top: 10px;
	margin-left: 150px;
	width: 100px; height: 100%;
}



.nav-bar ul{
	float: right;
	margin-top: 30px;
}

.nav-bar i{
	margin-right: 15px;
}

.nav-bar ul a{
	display: inline;
	color: #fff !important;
	margin-left: 30px;
	margin-right: 30px;
	text-decoration: none;
	background: green;
	padding: 8px;
	border-radius: 5px;
	transition: all 0.4s ease 0s;
}

.nav-bar ul input {
	width: 200px;
	padding: 4px;
}
.nav-bar button {
	
}
.nav-bar ul a:hover{
	background: #434343;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

/*------------------------welcome-note-------------------*/
.welcome-note p{
	text-align: center;
	margin-top: 150px;
	font-size: 40px;
}

.welcome-image img {
	width: 100%;
}

/*-----------------------featured item list----------------------------------------------*/
/*#more {
	display: none;
}
*/
.card {
	margin-bottom: 50px;
	display: inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	width: 200px;
  	margin-left: 10px;
  	font-family: arial;
}

.price {
  	color: grey;
  	font-size: 18px;
}


.card p button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  outline: #9999ff;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.show-hide-button-1 {
	margin-top: 50px;
	margin-left: 550px;
	padding: 8px;
	background: no-repeat;
	border: 2px solid #9999ff; border-radius: 8px;
	width: 200px;
}

.show-hide-button-1:hover{
	letter-spacing: 1px;
	background: #9999ff;
}

/*-----------------------latest list----------------------------------------------*/

.card {
	display: inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 300px;
  	margin-left: 79px;
  	text-align: center;
  	font-family: arial;
}

.price {
  	color: grey;
  	font-size: 18px;
}

.card p button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


/*-----------------------bottom part----------------------------------------------*/

.bottom-part img {
	width: 150px; height: auto;
	margin-left: 180px; 
}

.bottom-part ul{
	display: inline-block;
}
.bottom-part ul p{
	text-transform: uppercase;
	text-align: center;
	margin-left: 150px;
}
.bottom-part ul a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	margin-left: 150px;

}
 .bottom-part ul a:hover{
 	text-decoration: underline;
 }

/*-----------------------------------company address----------*/
.company-address {
	background: #6666ff;
	padding: 2px;
	width: 100%;
	text-align: center;
}

.company-address ul li{
	display: inline;
	font-weight: bold;
	margin-right: 50px;


}






