.clearfix {
	  overflow: auto;
}

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
  width: 1000px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

h2 {
  margin-top: 60px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid black;
}

html {font-family: 'Open Sans', sans-serif;}
/*-------------------top navigation bar--------------------*/
header {
  background: #fafafa;
  /*overflow: auto;*/
  /*padding: 20px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 20;
}

li  {
  padding: 15px;
}

.logo img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 20px;
  
}

.logo-name a {
  position: relative;
  top: 12px;
  color: #1f3d7a;
  font-size: 50px;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.item  {
  position: relative;
  left: 30px;
  top: 28px;
}

.item  a {
  text-decoration: none;
  border: 2px solid #28a745;
  font-weight: bold;
  font-size: 15px;
  margin-left: -10px;
  padding: 4px;
  border-radius: 0.25rem;
  color: #1f3d7a;

}

.item a:hover {
  background: #28a745;
    opacity: 1;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  color: #f5f5f6;
  text-decoration: underline;
  font-weight: bold;
}

.push {
  margin-left: auto;
  position: relative;
  top: 22px;
}

.last {
  position: relative;
  top: 22px;
}

.push input {
  padding: 5px;
  border-radius: 0.25rem;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #ced4da; 
  width: 180px;
}

input:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
  text-decoration: underline;
}

.push button {
  padding: 5px;
  margin-left: 5px;
  background: none;
  border-radius: 0.25rem;
  font-family: 'Open Sans', sans-serif;
  border:  2px solid #28a745;
  font-weight: bold;
}

.push button:hover {
  background:#28a745;
  color: #f5f5f6;
}

.last select{
  padding: 5px;
  width: 90px;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.25rem;
}

/*---------------------inner-part---------------*/
.form form table {
  margin-left: 55px;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 0.25rem; 
  border-spacing: 20px;
  border-collapse: separate;
  margin-bottom: 150px;
}

.form form table tr td input {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: .25rem;
    display: inline-block;
}

.form form table tr td input:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.form form table tr td input[type="radio"] {
  margin-left: 0;
   width: 12px;
   height: 12px;
}

.form form table tr td input[type="checkbox"] {
   margin-left: 0;
   width: 12px;
   height: 12px;
}

.form form table tr td {
    width: 400px;
    line-height: 30px;
}

.form form table tr td textarea {
  width: 380px;
  height: 150px;
  resize: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #999999;
  border-radius: .25rem;
}

.form form table tr td button {
    width: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #28a745;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline-block;
}

#btn input {
    width: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #28a745;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline-block;
}

#btn input:hover {
  color: #28a745;
  background: white;
  border: 1px solid #28a745;
}

.form form table tr td button:hover {
  color: #28a745;
  background: white;
  border: 1px solid #28a745;
}
/*-----------------------bottom part----------------------*/
.bottom-part table {
  margin: 50px 150px 40px 180px;
  width: 1200px;
}

.thead td{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  width: 200px;
}

table tr { line-height: 40px; }

.bottom-part table tr td a {
  text-decoration: none;
  color: #1f3d7a;
}

.bottom-part table tr td a:hover {
  color: red;
}

/*table i {
  color: #99ff99
}*/


/*--------------------footer-tag--------------------*/
.footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer ul li {
  font-size: 17px;
  display: inline-block;
}


@media screen and (max-width: 800px){

  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}

  form input { margin: auto; padding: 10px; width: 100%; }

}



@media screen and (max-width: 650px) {
       /* Smaller devices */
  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}

  form input { margin: auto; padding: 10px; width: 100%; }
       
}

@media screen and (max-width: 500px){
    /*header {display: flex; flex-wrap: wrap;}*/
    .affiliox {float: right;}

    .container { margin: auto; padding: 10px; width: 100%;}

    .container h2 {text-align: center;}

    form input { margin: auto; padding: 10px; width: 100%; }
  
}

@media screen and (max-width: 450px) {
       /* Even Smaller devices */
    .affiliox {float: right;}

    table tr td { display: block; justify-content:center; align-items:center; display:flex; }

    form input { margin: auto; padding: 10px; width: 100%; margin-top: 50px;}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       .affiliox {float: right;}
}    

