.clearfix {
    overflow: auto;
}

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
  width: 1000px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

h2 {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid black;
}

#star {
  color: orange;
}
/*-------------------side navigation bar--------------------*/
header {
  background: #fafafa;
  overflow: auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

header .open-btn {
  float: left;
  margin-left: 50px;
}

header .affiliox a {
  float: left;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

header .loggedin {
  float: right;
}

hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}


.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
}
.sidenav a i {
  margin-left: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}
/*-------------------Inner content-------------------*/

.top h4 {
  margin: 20px 0 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#overall-review-table {
  background: #fafafa;
  /*margin: 0 auto;*/
}

.overall-review table {
  border: 2px solid black;
  border-radius: .25rem;
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.overall-review table th {
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.overall-review table td{
  width: 250px;
  padding: 10px;
  text-align: center;
}

.inner-line p {
  border-bottom: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}


.customer-review-1  table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 700px;
  border: 2px solid black;
  border-radius: .25rem;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.customer-review-1  table td {
  padding: 20px;
}

.customer-review-1 table input {
    width: 120px; 
    line-height: 1.5;
    font-size: 1rem;
    padding: .250rem .40rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #28a745;
    background-color: white;
    border-color: #28a745;
    cursor: pointer;
}

table input:hover {
    background-color: #28a745;
    color: white;
}

textarea {
  border: 1px solid black;
  border-radius: .25rem;
  height: 70px;
  width: 300px;
  padding: 5px;
  resize: none;
  font-family: 'Open Sans', sans-serif;
}

#cus-name {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1px;
}


/*--------------------footer-tag--------------------*/
.footer {
  border-top: 2px solid black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer ul li {
  font-size: 17px;
  display: inline-block;
  padding: 10px;
}

.footer ul li a {
  font-size: 17px;
}

.footer ul li a:hover {
  color: red;
  text-decoration: underline;
}


/*--------------------responsive media queries--------------------*/

@media screen and (max-width: 800px){

  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}  /*align title to the center of the page*/

  form input { margin: auto; padding: 10px; width: 100%; } 

}



@media screen and (max-width: 650px) {
    
  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;} /*align title to the center of the page*/

  form input { margin: auto; padding: 10px; width: 100%; }      
}


@media screen and (max-width: 500px){
  
    .container { margin: auto; padding: 10px; width: 100%;}

    .container h2 {text-align: center;} /*align title to the center of the page*/

    form input { margin: auto; padding: 10px; width: 100%; }

    .affiliox {float: right;}
}


@media screen and (max-width: 450px) {
       /* Even Smaller devices */
    .affiliox {float: right;}

    table tr td { display: block; justify-content:center; align-items:center; display:flex; }

    form input { margin: auto; padding: 10px; width: 100%; margin-top: 50px;}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       .affiliox {float: right;}
}    

