.clearfix {
	  overflow: auto;
}

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
  width: 1000px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

h2 {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid black;
}

html {font-family: 'Open Sans', sans-serif;}
/*-------------------side navigation bar--------------------*/

header {
  background: #fafafa;
  overflow: auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

header .open-btn {
  float: left;
  margin-left: 50px;
}

header .affiliox a {
  float: left;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

header .loggedin {
  float: right;
}

hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
}
.sidenav a i {
  margin-left: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*-------------------Inner content-------------------*/
.inner-part {
  margin-top: 50px;
  margin-bottom: 300px;
  padding: 20px;
  border: 2px solid black;
  border-radius: .25rem;
}

.inner-part form {
  margin-top: 50px;
}

.inner-part form select {
  width: 100%;
  padding: 10px;
  border-radius: .25rem;
  font-family: 'Open Sans', sans-serif;
}

.text-area textarea {
  margin-top: 25px;
  width: 100%;
  height: 200px;
  border-radius: .25rem;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  resize: none;
}
.inner-part form textarea {
  padding: 10px;
}

.button button {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fafafa;
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: .25rem;
    display: inline-block;

}

.button button:hover {
  background-color: white;
  color: #28a745;
}
/*--------------------footer-tag--------------------*/
.footer {
  border-top: 2px solid black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer ul li {
  font-size: 17px;
  display: inline-block;
  padding: 10px;
}

.footer ul li a {
  font-size: 17px;
}

.footer ul li a:hover {
  color: red;
  text-decoration: underline;
}


@media screen and (max-width: 800px){

  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}

  form input { margin: auto; padding: 10px; width: 100%; }

}



@media screen and (max-width: 650px) {
       /* Smaller devices */
  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}

  form input { margin: auto; padding: 10px; width: 100%; }
       
}

@media screen and (max-width: 500px){
    /*header {display: flex; flex-wrap: wrap;}*/
    .affiliox {float: right;}

    .container { margin: auto; padding: 10px; width: 100%;}

    .container h2 {text-align: center;}

    form input { margin: auto; padding: 10px; width: 100%; }
  
}

@media screen and (max-width: 450px) {
       /* Even Smaller devices */
    .affiliox {float: right;}

    table tr td { display: block; justify-content:center; align-items:center; display:flex; }

    form input { margin: auto; padding: 10px; width: 100%; margin-top: 50px;}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       .affiliox {float: right;}
}    

