.clearfix {
    overflow: auto;
}

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
  width: 1000px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

h2 {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid black;
}

/*-------------------side navigation bar--------------------*/
header {
  background: #fafafa;
  overflow: auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

header .open-btn {
  float: left;
  margin-left: 50px;
}

header .affiliox a {
  float: left;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

header .loggedin {
  float: right;
}

hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
}
.sidenav a i {
  margin-left: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*-------------------Inner content-------------------*/
table {
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  margin: 0 auto;
}

table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 17px;
  width: 200px;
}

#td-1 {
  font-weight: bold;
}

table td input {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline-block;
}

form input  {
    width: 300px; 
    line-height: 1.5;
    font-size: 1rem;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: white;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
    margin: 10px 0 20px 50px; 
}

input:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

#td-3:hover {
    background-color:#28a745;
    color: white;
}
/*--------------------footer-tag--------------------*/
.footer {
  border-top: 2px solid black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer ul li {
  font-size: 17px;
  display: inline-block;
  padding: 10px;
}

.footer ul li a {
  font-size: 17px;
}

.footer ul li a:hover {
  color: red;
  text-decoration: underline;
}

/*--------------------responsive media queries--------------------*/

@media screen and (max-width: 800px){

  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}  /*align title to the center of the page*/

  form input { margin: auto; padding: 10px; width: 100%; } 

}



@media screen and (max-width: 650px) {
    
  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;} /*align title to the center of the page*/

  form input { margin: auto; padding: 10px; width: 100%; }      
}


@media screen and (max-width: 500px){
  
    .container { margin: auto; padding: 10px; width: 100%;}

    .container h2 {text-align: center;} /*align title to the center of the page*/

    form input { margin: auto; padding: 10px; width: 100%; }

    .affiliox {float: right;}
}


@media screen and (max-width: 450px) {
       /* Even Smaller devices */
    .affiliox {float: right;}

    table tr td { display: block; justify-content:center; align-items:center; display:flex; }

    form input { margin: auto; padding: 10px; width: 100%; margin-top: 50px;}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       .affiliox {float: right;}
}    

