.container1 {
    width: 1000px; 
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
h2 {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid black;
}  


#columnchart_values {
    margin-left: 100px;
  }
  
  .heading p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  
  .heading table {
    border: 1px solid black;
    border-radius: .25rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  .heading table td {
    padding: 15px;
    width: 250px;
    text-align: center;
  }
  
  .inner-part table {
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    border-radius: .25rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
  }
  
  .inner-part td {
    width: 400px;
    height: 100px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .inner-part th {
    padding: 20px;
    border-bottom: 2px solid black;
  }

  @media screen and (max-width: 800px){

    .container { margin: auto; padding: 10px; width: 100%;}
  
    .container h2 {text-align: center;}
  
    form input { margin: auto; padding: 10px; width: 100%; }
  
  }
  
  
  
  @media screen and (max-width: 650px) {
         /* Smaller devices */
    .container { margin: auto; padding: 10px; width: 100%;}
  
    .container h2 {text-align: center;}
  
    form input { margin: auto; padding: 10px; width: 100%; }
         
  }
  
  @media screen and (max-width: 500px){
      /*header {display: flex; flex-wrap: wrap;}*/
      .affiliox {float: right;}
  
      .container { margin: auto; padding: 10px; width: 100%;}
  
      .container h2 {text-align: center;}
  
      form input { margin: auto; padding: 10px; width: 100%; }
    
  }
  
  @media screen and (max-width: 450px) {
         /* Even Smaller devices */
      .affiliox {float: right;}
  
      table tr td { display: block; justify-content:center; align-items:center; display:flex; }
  
      form input { margin: auto; padding: 10px; width: 100%; margin-top: 50px;}
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
         /* Even Smaller devices */
         .affiliox {float: right;}
  }    
  