.clearfix {
    overflow: auto;
}

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
  width: 1000px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

h2 {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid black;
}

p {font-family: 'Open Sans', sans-serif;}

#payout-history { 
  color: #1f3d7a; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: 16px;
  letter-spacing: 0.01rem;
  
}

#payout-history:hover {color:#db3846;;  text-transform: uppercase;}
/*-------------------side navigation bar--------------------*/

header {
  background: #fafafa;
  /*padding: 20px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

header .open-btn {
  float: left;
  position: relative;
  top: 40px;
  margin-left: 80px;
  margin-right: 50px;
}

hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
  font-weight: bold;
}

.sidenav a:hover {
  color: #28a745;
  /* font-weight: bold; */
}


.sidenav a i {
  margin-left: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*------------------main navigation---------------------------------*/
.main-nav {
  display: flex;
  list-style: none;
  font-size: 20;
  position: relative;
  margin-bottom: -40px;
}

li  {
  padding: 15px;
}

.logo img {
  width: 200px;
  position: relative;
  left: 15px; 
}

.item  {
  position: relative;
  left: 70px;
  top: 30px;
}


.item  a {
  text-decoration: none;
  border: 1px solid #28a745;
  font-weight: bold;
  font-size: 15px;
  margin-left: -10px;
  padding: 7px;
  border-radius: 0.25rem;
  color: #1f3d7a;
  
}

.item a:hover {
  background: #28a745;
  opacity: 1;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  color: #f5f5f6;
  font-weight: bold;
}

.push {
  margin-left: auto;
  position: relative;
  top: -18px;
  
}

.push button i {
  width: 10px;
}

.push input {
  padding: 6px;
  border-radius: 0.25rem;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ced4da;
  width: 300px;
  position: relative;
  top: 5px;
}

input:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
  text-decoration: underline;
}

.push button {
  margin-left: 6px;
  background: none;
  border-radius: 0.25rem;
  font-family: 'Open Sans', sans-serif;
  border:  1px solid #28a745;
  width: 38px;
  height: 38px;
  position: relative;
  top: 5px;
}

.push button:hover {
  background:#28a745;
  color: #f5f5f6;
}

.last {
  position: relative;
  top: 28px;
}

.last select{
  padding: 7px;
  width: 90px;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.25rem;
}
/*---------------------------------------------------------------*/

.error-msg p {
  color: #ff3333;
  /* border: 1px solid red; */
  margin-bottom: 55px;
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
  padding: 8px;
  text-decoration: bold;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

.success-msg p {
  color: #28a745;
  /* border: 1px solid red; */
  margin-bottom: 55px;
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
  padding: 8px;
  text-decoration: bold;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

table {
  border: 2px solid #ddd;
  border-radius: .25rem;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
}

.inner-part table td {
  width: 250px;
  font-size: 18px;
  font-weight: bold;
}

.td1 {
  font-weight: bold;
  font-size: 18px;
}

.money-withdrawal-form table tr td select,input,button{
    width: 250px; 
    line-height: 1.5;
    font-size: 1rem;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: black;
    background-color: #fafafa;
    border-color: #28a745;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top:40px;
    font-family: 'Open Sans', sans-serif;
}

.money-withdrawal-form button:hover {
  background: green;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

input:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

#c-a:hover {
  background-color: #fafafa;
  color: black;
}

.money-withdrawal-form  td {
  padding: 20px;
}

/*-----------------------bottom part----------------------------------------------*/
.bottom-part table {
  font-family: 'Open Sans', sans-serif;
  margin: 30px 0 10px 120px;
  border: none;
 
}

.thead td{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  width: 500px;
}

table tr { line-height: 40px; }

.bottom-part table tr td a {
	text-decoration: none;
	color: #1f3d7a;
}

.bottom-part table tr td a:hover {
	color: red;
}

/*table i {
	color: #99ff99
}*/
/*--------------------footer-tag--------------------*/
.footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer ul li {
  font-size: 17px;
  display: inline-block;
}
/*-------------------responsive media quries---------------------*/

@media screen and (max-width: 800px){

  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}

  form input { margin: auto; padding: 10px; width: 100%; }

}



@media screen and (max-width: 650px) {
       /* Smaller devices */
  .container { margin: auto; padding: 10px; width: 100%;}

  .container h2 {text-align: center;}

  form input { margin: auto; padding: 10px; width: 100%; }
       
}

@media screen and (max-width: 500px){
    /*header {display: flex; flex-wrap: wrap;}*/
    .affiliox {float: right;}

    .container { margin: auto; padding: 10px; width: 100%;}

    .container h2 {text-align: center;}

    form input { margin: auto; padding: 10px; width: 100%; }
  
}

@media screen and (max-width: 450px) {
       /* Even Smaller devices */
    .affiliox {float: right;}

    table tr td { display: block; justify-content:center; align-items:center; display:flex; }

    form input { margin: auto; padding: 10px; width: 100%; margin-top: 50px;}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       .affiliox {float: right;}
}