html {font-family: 'Open Sans', sans-serif;}  

.container {
  width: 1000px; 
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

 .contact {
    padding: 60px;
    text-align: center;
    background-image: url("/images/Common/contact.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color:black;

  }

#country {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  }

#subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  } 

#fname {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #email {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

#lname {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

 .acontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .acolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  

  .arow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .acolumn {
      width: 100%;
      margin-top: 0;
    }
  }

  /* Promoter */
  /*-------------------side navigation bar--------------------*/


header {
  background: #fafafa;
  /*overflow: auto;*/
  /*padding: 20px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  }
  
header .open-btn {
  float: left;
  position: relative;
  top: 35px;
  margin-left: 80px;
  margin-right: 50px;
  }
  
hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  }
  
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
  }
  
.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
  font-weight: bold;
  }
  
.sidenav a:hover {
  color: #28a745;
  /* font-weight: bold; */
  }
  
  
.sidenav a i {
  margin-left: 10px;
  }
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
  }
  
#main {
  transition: margin-left .5s;
  padding: 20px;
  }
  
  /*------------------main navigation---------------------------------*/
.main-nav {
  display: flex;
  list-style: none;
  font-size: 20;
  }
  
li  {
  padding: 15px;
  }
  
.logo-name a {
  /*position: relative;*/
  /*top: 12px;*/
  color: #1f3d7a;
  font-size: 50px;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  }
  
.logo img {
  width: 200px;
  position: relative;
  left: 15px; 
  }
  
.item  {
  position: relative;
  left: 70px;
  top: 30px;
  }
  
  
.item  a {
  text-decoration: none;
  border: 1px solid #28a745;
  font-weight: bold;
  font-size: 15px;
  margin-left: -10px;
  padding: 7px;
  border-radius: 0.25rem;
  color: #1f3d7a;
  
  }
  
.item a:hover {
  background: #28a745;
  opacity: 1;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  color: #f5f5f6;
  font-weight: bold;
  }
  
.push {
  margin-left: auto;
  position: relative;
  top: 12px;
  }
  
.push button i {
  padding: 5px; 
  }
    
.push input {
    padding: 8px;
    border-radius: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ced4da;
    width: 300px;
  }
  
input:focus{
    outline: none !important;
    border:1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
    text-decoration: underline;
  }
  
.push button {
    padding: 6px;
    margin-left: 5px;
    background: none;
    border-radius: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    border:  1px solid #28a745;
    font-weight: bold;
  }
  
.push button:hover {
    background:#28a745;
    color: #f5f5f6;
  }

.last {
    position: relative;
    top: 15px;
    }

.last select{
  padding: 7px;
  width: 90px;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.25rem;
  position: relative;
  top: 8px;
  }
  /*-----------------------bottom part----------------------------------------------*/
.bottom-part table {
  font-family: 'Open Sans', sans-serif;
  margin: 30px 0px 10px 120px;
  /* margin-left: 110px; */
    /* width: 1200px; */
  }
  
  .thead td{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  width: 500px;
  }
  
  table tr { line-height: 40px; }
  
  .bottom-part table tr td a {
    text-decoration: none;
    color: #1f3d7a;
  }
  
  .bottom-part table tr td a:hover {
    color: red;
  }
  
  /*table i {
    color: #99ff99
  }*/
  
  /*--------------------footer-tag--------------------*/
  .footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  }
  
  .footer ul li {
  font-size: 17px;
  display: inline-block;
  }