.clearfix {
	overflow: auto;

  }
.container1{
	margin-right: 10%; 
	margin-left: 10%;

}

/*------------------------nav-bar-------------------*/

.nav-bar img{
	/* float: left; */
	width: 110px;
}

hr{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
   }

.nav-bar ul{
	/* float: right; */
	 padding:2%; 
	padding-top: 30px;
}


.nav-bar ul a {
	border: 2px solid ;
	border-color: #28a745;
	display: inline-flex;
	color: rgb(10, 10, 10);
	text-decoration: none;
	background: rgb(255, 255, 255);
	padding: 8px;
	border-radius: 4px;
	transition: all 0.4s ease 0.3s;
	margin-top: 10px;
}

.nav-bar ul a:hover{
	background:#28a745;
    opacity: 1;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

/*------------------------Sign in heading-------------------*/
.sign-note p{
	text-align: center;
	margin-top: 150px;
	font-size: 50PX;
}

/*------------------------Sign in text-boxs-------------------*/
.textbox 	{

	margin: auto;
	width:35%;
	padding: 10px;

	
}
.textbox input {
	width: 300px;
	padding: 8px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
		 box-shadow: 0 8px 6px -6px black;
}
.textbox-visbility {
	
	width: 200px;
	padding: px;
	margin: auto;
	width: 35%;

	padding: 10px;
}
.textbox a{
	
	color: black;
    padding: 10px;
    width: 100px;
	margin: 0;
    background: white;
    border-radius: 5px;
    border-style: none;
	border: 2px solid ;
	border-color: #28a745;
    margin-top: 100px;
    /*opacity: 0.6;*/
	transition: 0.3s;
	text-decoration: none;
	
}

.link {
	text-align: center;

}
.link a:hover{
	color: rgb(194, 81, 6);
    opacity: 1;
}
.textbox a:hover{
    background: orange;
    opacity: 1;
}

.search input{
  
    border: none;
    background:rgb(248, 248, 248); 
	border-radius: 6px;
	width: 70%;
	margin-top: 0px;
	padding: 11px;

    
  }
  .search input:focus {
    outline: none !important;
    border:1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

/*---------------------account select boxes------------------*/

#link{
	text-decoration: initial;
}
.account-btn a{	
	
	color: rgb(19, 18, 18);	
	text-align: center;
	display: inline-table;
	width: 25%;
	height: 120px;
	padding-top: 60px;
	background: white;
    border-radius: 5px;
	border: 2px solid ;
	border-color: #28a745;
	margin-top: 50px;
    /*opacity: 0.6;*/
	transition: 0.3s;
	font-weight: bold;
	font-size: 35px;
	text-decoration: none;
}
.account-btn a:hover{
	background: #28a745;
	color: azure;
    opacity: 1;
}


/*------------------------pw reset test-------------------*/

.text p{
	text-align: left;
	font-size: 20PX;
}
.pw-reset{
text-align: center;
margin-top: 150px;
font-size: 40PX;
}
/*-----------------------bottom part----------------------------------------------*/
.bottom-part{
	float: left;
}

.bottom-part img {
	width: 150px; height: auto;
	padding-top: 20px;

	
}

.bottom-part ul{
	display: block;
	
	overflow-wrap: normal;	
}

.bottom-part ul p{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	
}
.bottom-part ul a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}
.bottom-part ul a:hover{
 	text-decoration: underline;
 }

/*-----------------------------------company COPYRIGHT----------*/
.company-address {
	
	background: #6666ff;
	padding: 2px;
	width: 100%;
	text-align: center;
	font-size: 10px !important;
}

.company-address ul li {
	
	display: inline;
	font-weight: bold;
	font-size: 15px !important;
	margin-right: 50px;
}

#bot-line{
	
	background: #6666ff;
	padding: 2px;
	width: 100%;
	text-align: center;
	font-size: 12px !important;
}
#bot-line ul li{

	display: inline;
	font-weight: bold;
	font-size: 20px !important;
	margin-right: 50px;
}






