@import url("https://kit.fontawesome.com/6cdc06033e.js" );


.clearfixN {
	overflow: auto;

  }
.container1N{
	margin-right: 10%; 
	margin-left: 10%;

}

.back403N{
	
	background-color: black;
}

.errorMsgN {
	color: brown;
	font-size: larger;

}
/*------------------------nav-bar-------------------*/
.sidenavN {
	height: 100%; 
	width: 0; 
	position: fixed;
	z-index: 1; 
	top: 0;
	left: 0;
	background: #eee; 
	overflow-x: hidden;
	padding-top: 60px; 
	transition: 0.5s; 
	z-index: 500;
  }

  .sidenavN  a {
	padding: 10px 10px 10px 32px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: black;
	display: block;
	margin-bottom: 18px;
	transition: 0.3s;
  }

  .sidenavN a:hover{
	  color:#28a745;
  }
  .sidenavN a i {
	margin-left: 10px;
  }
  
  .sidenavN .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: black; 
  }
.nav-barN img{
	margin-top: 14px;
	float: center;
	width: 200px;
}
.open-btnN {
	float: left;
	position: relative;
	top: 40px;
	font-size: 25px;
	cursor: pointer;

  }
  
.backcolorN{
	background: #fafafa;
}

.stickyN {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
  }

  .botN {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
.sm-headerN{
	
	
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	padding: px;
	z-index: 400;
	box-shadow:0px 3px 7px 0 rgba(0, 0, 0, 0.5);
	padding-left: 0;
	padding-right: 0;
	


}
hr{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
	padding-left: 0;
	padding-right: 0;
   }


.hrCustomN hr{
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-left: 0;
	padding-right: 0;

}
.nav-barN ul{
	/* float: right; */
	 padding:2%; 
	padding-top: 30px;
}
/*-----------------------links buttons and inputs----------------*/

.nav-barN ul a ,.icon {
	border: 1px solid #28a745; 
	margin:auto;
	display:inline-flex;
	font-size: 15px;
	color: #1f3d7a;
	text-decoration: none;
	font-weight: bold;
	/* margin-left: 3px; */
	padding: 8px;
	border-radius: 0.25rem;
	transition: all 0.4s ease 0.3s;
	margin-top: 10px;
	z-index: 10;
	outline: none;
	background:rgb(255, 255, 255); 
}

.nav-barN ul a:hover, .icon:hover{
	
	background: #28a745;
    opacity: 1;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	color: #f5f5f6;
}

.blockN button:active , .nav-bar ul a:active  ,button:active{
 color: rgb(255, 255, 255);  
  }
  .searchN input,textarea{
	
    border: none;
    background:rgb(235, 235, 235); 
	border-radius: 6px;
	width: 70%;
	margin-top: 0px;
	/* padding :11px; */
	padding-top: 11px;
	padding-bottom: 11px;
	text-indent: 10px;
	resize: none;
	border: 1px solid #ced4da;
	
 
  }
  .selectorN select{
	margin-top: 20px;
	text-align: center;
	width: 100%;
	padding: 8px;
	border: 1px solid #28a745; 
	font-family: 'Open Sans', sans-serif;
	border-radius: 0.25rem;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	color: #1f3d7a;
	
  }
  .selectorN select option{
	font-size: 15px;
	padding:6px;
  }
  .labelN{
    font-weight: bold;
	font-size: 17px;
  }
  .boxsummeryN{
	background:rgb(250, 250, 247); 
	-webkit-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
	padding: 10px;
	border-radius: 6px;
	overflow: hidden;
  }
  .boxsummeryN p{
	padding-left:2em;
  }
  .shoppingBlockN{
	  width: 80%;
	  padding-bottom: 10px;
	  background:rgb(250, 250, 250) !important; 
	  -webkit-box-shadow: 0px -35px 40px -10px rgba(0,0,0,0.57);
	  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	  box-shadow: 0px 4px 10px rgba(0,0,0,0.57);
  }
  .signinN input{

	width: 30%;
  }

  html {font-family: 'Open Sans', sans-serif;}

.searchN input:focus  ,.search textarea:focus {
    outline: none !important;
    border:1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.searchCkeckN  input:focus {
    outline: none !important;
    border:1px solid #719ECE;
}

.radio-hoverN input[type="radio"]{
	width:5%;
	box-shadow: 0 0 0px #719ECE
}
:target{
	background:rgb(172, 172, 172); 
}

.link-trashN a i{
	color: rgb(102, 102, 102);
	text-align: center;
	z-index: 9999999;

}

.link-teashN a i:hover{
	color: rgb(225, 129, 129);
}
/*-----------------------margins----------------------------------------------*/
.margint50N{
	margin-top: 50px;
}
.margint20N{
	margin-top: 20px;
}

.margint45N{
	margin-top: 45px;
}
.margint100N{
	
	margin-top: 100px;
}
.margint50pN{
	
	margin-top: 50%;
}
.marginb100N{
	margin-bottom: 100px;
}

.marginb50pN{
	margin-bottom: 50px;
}

.marginb20N{
	margin-bottom: 20px;
}
.marginb50N{
	margin-bottom: 50px;
}

.marginl20N{
	margin-left: 20px;
}
.marginl50N{
	margin-left: 50px;
}

.marginl100N{
	margin-left: 100px;
}

.marginr100N{

	margin-right: 100px;
}

.marginr50pN{
	margin-right: 43%;
}

.paddingt20N{
	padding-top: 20px;
}

.rowMarginN{
	margin-top: 30px;
}
/*-----------------------bottom part----------------------------------------------*/

.theadN td{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.img-spanN img{
	margin-top: 50px;
	
}
.sm-tableN tr { line-height: 40px; }

.sm-tableN tr td a {
	text-decoration: none;
	color: #1f3d7a;
}

.sm-tableN tr td a:hover {
	color: red;
}

.footerN {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  }
  
  .footerN ul li {
	font-size: 17px;
	display: inline-block;
  }



.bottom-partN{
	float: left;
}

.bottom-partN img {
	width: 150px; height: auto;
	padding-top: 20px;
}

.bottom-partN ul{
	display: block;
	overflow-wrap: normal;	
}

.bottom-partN ul p{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	
}
.bottom-partN ul a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}
.bottom-partN ul a:hover{
 	text-decoration: underline;
 }

/*-----------------------------------company COPYRIGHT----------*/

.company-addressN {

	background: #6666ff;
	padding: 2px;
	width: 100%;
	text-align: center;
	font-size: 10px !important;
}

.company-addressN ul li {
	
	display: inline;
	font-weight: bold;
	font-size: 15px !important;
	margin-right: 50px;
}

#bot-lineN{
	
	background: #6666ff;
	padding: 2px;
	width: 100%;
	text-align: center;
	font-size: 12px !important;
}
#bot-lineN ul li{

	display: inline;
	font-weight: bold;
	font-size: 20px !important;
	margin-right: 50px;
}


/*-----------------------------------Image Positioning---------*/
.holderN {
	position: relative;
	display: block;
}
.holderN img {
	position: relative;
	display: block;
	width: 100%;
	border-radius: 1%;
	
}
.imgwN img{
	width: 100%;
	border-radius: 10%;
	max-width: 400px;


}

/*-----------------------------------Feedback rating---------*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.ratingN { 
  border: none;
  float: center;


}

.ratingN > input { display: none; } 
.ratingN > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.ratingN > .half:before { 
  content: "\f089";
  position: absolute;
}

.ratingN > label { 
  color: #ddd; 
 float: right; 
}

.ratingN > input:checked ~ label, /* show gold star when clicked */
.ratingN:not(:checked) > label:hover, /* hover current star */
.ratingN:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.ratingN > input:checked + label:hover, /* hover current star when changing rating */
.ratingN > input:checked ~ label:hover,
.ratingN > label:hover ~ input:checked ~ label, /* lighten current selection */
.ratingN > input:checked ~ label:hover ~ label { color: #FFED85;  } 
