<!DOCTYPE html>
<html>
<head>
	<title>Affiliox-ContactUs</title>
	<link rel="stylesheet" type="text/css" href="../../customer/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../customer/css/customer-grid.css" />
	<link rel="stylesheet" type="text/css" href="../css/Contactus.css" />
	<script type="text/javascript" src="../../js/Signin.js"></script>
	<script type="text/javascript" src="../../js/nav-fixed.js"></script>
	<script src="https://kit.fontawesome.com/6cdc06033e.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

	<!---Navigation bar-------------------------------------------->
	<div class="container">
		<div class="backcolor"> 
		  	<div class="row hidden-xm marginb100 backcolor">
		  	<div class=" nav-bar sm-logo-nav hidden-xm  sm-header backcolor " >
			  
			<div class="sm-1 open-btn" onclick="openNav()">&#9776;</div>
			<div class="sm-9">
			  <a href="../../index.html"><img src="../../images/Sidelogo.png" alt="Affiliox LOGO"/></a>
			</div>
			<div class="sm-2 ">
			  <div class="selector margint20">
				<select>
				  <option value="sign in">Sign In</option><br/>
				  <option value="login">Login</option><br/>
				</select>
			  </div>
			</div>
			</div>
			</div>
		</div>
		<div class=" nav-bar center backcolor">
			<div class="col1 open-btn hidden-sm" onclick="openNav()">&#9776;</div>
			<div class="col2 hidden-sm">
			  <a href="../../index.html"><img src="../../images/Sidelogo.png" alt="Affiliox LOGO"/></a>
			</div>
	
			<div class="col4 center">
			  <ul>
				<a href=""><i class="fas fa-home"></i>&nbsp;Home</a>
				<a href=""><i class="fas fa-users"></i>&nbsp;About Us</a>
				<a href=""><i class="fas fa-inbox"></i>&nbsp;Help</a>
				<a href=""><i class="fas fa-users"></i>&nbsp;Account</a>
			  </ul>
			</div>
	
			<div class="col4 search fitcontent center">
			  <ul>
				<input type="text" name="search" placeholder="Headsets" />
				<a href=""><i class="fas fa-search"></i></a>
			  </ul>
			</div>
			<div class="col1 hidden-sm ">
			  	<div class="selector margint20">
					<select>
				 	 <option value="sign in">Sign in</option><br/>
				 	 <option value="login">Login</option><br/>
					</select>
			 	</div>
			</div>
		 </div>
	</div>
		
		<div class="row">
		<div class="col12 fullwidth">
	  <hr>
		</div>
	  
		  <!-- inner-part-------------------------------------------->
		  
		  <div class="container">
			<div class="contact">
				<h1 style="text-shadow: 4px 4px 10px #0000ff;color: white;">Contact Us</h1>
			</div>
		 </div>
		  <br/>
          <div class="acontainer">
            <div style="text-align:center">
                <h2>Get in Touch</h2>
				<br/>
				<h3>Want to find out how Affiliox can solve problems
                    specific to your business? Let's Talk
                </h3>
            </div>
            <div class="arow">
              <div class="acolumn">
                <img src="../images/help.png " style="width:100%">
              </div>
              <div class="acolumn">
                <form action="/action_page.php">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Sri Lanka</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                  <button class="button">Send</button>
                </form>
              </div>
            </div>
          </div>
          


		<!-- bottom-part-------------------------------------------->
<div class="row">
	<div class="col12 fullwidth">
  <hr>
	</div>
  
</div>
<div class="row center backcolor">


<div class=" col3 img-span hidden-sm">
  <td ><img src="../../images/SideLogo.png"  width='200'></td>
</div>

<div class="col9  nav-bar center">       
<table class="row center sm-table">
  <tr class="thead center">
  
  <td>Main Menu</td>
  <td>Find us On</td>
  <td>Contact us</td>
</tr>

<tr>
  <!-- <td></td> -->
  <td><a href="">About Affiliox <i class="fas fa-users"></i></a></td>
  <td><a href=""></i>FaceBook <i class="fab fa-facebook-f"></i></a></td>
  <td>Address: Sri Lanka.</td>
</tr>
<tr>
  <!-- <td></td> -->
  <td><a href="">Help & Support <i class="fas fa-question-circle"></a></td>
  <td><a href="">Twitter <i class="fab fa-twitter"></i></a></td>
  <td>Phone: 011-1234567</td>
</tr>
<tr>
  <!-- <td></td> -->
  <td><a href="">Privacy & Policy <i class="fas fa-shield-alt"></i></a></td>
  <td><a href="">Youtube <i class="fab fa-youtube"></i></a></td>
  <td>Email: affiliox@gmail.com</td>	
</tr>

</table>
</div> 

</div>  
<!-- bottom-part -->

  <div class="row footer backcolor paddingt20">

		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</li>
			<li> Affiliox &trade;</li>
		</ul>
  </div>	 <!-- footer -->
  
</div>

<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="#">User profile<i class="far fa-user"></i></a>
	<a href="#">Mini Store<i class="fas fa-store"></i></a>
	<a href="#">Market Place<i class="fab fa-shopify"></i></a>
	<a href="#">Feedback<i class="fas fa-phone-square"></i></i></a>
	<a href="#">Support<i class="fas fa-envelope-open-text"></i></a>
</div>
<span onclick="openNav()"></span>


</div>
<!--Container------------------------------------------>
</body>

</html>