<html>

<head>
	<title>Affiliox-BuyerRegistration</title>
    <link rel="stylesheet" type="text/css" href="../../customer/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../customer/css/customer-grid.css" />
	<link rel="stylesheet" type="text/css" href="../customer/css/market/profile.css" />
	<script type="text/javascript" src="../js/Signin.js"></script>
	<script type="text/javascript" src="../../customer/js/nav-fixed.js"></script>
	<script src="https://kit.fontawesome.com/6cdc06033e.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<!---Navigation bar-------------------------------------------->
	<div class="container">
		<div class="nav-bar row center">
			<div class="col2">
				<a href="../index.html"><img src="../images/LOGO.png" alt="Affiliox LOGO" /></a>
			</div>

			<div class="col6 center">
				<ul>
					<a href=""><i class="fas fa-home"></i>&nbsp;Home</a>
					<a href=""><i class="fas fa-address-card"></i>&nbsp;About Us</a>
					<a href=""><i class="fas fa-inbox"></i>&nbsp;Help</a>
					<a href=""><i class="fas fa-users"></i>&nbsp;Account</a>
					<a href=""><i class="fas fa-shopping-cart"></i>&nbsp;Add to cart</a>
				</ul>
			</div>

			<div class="col4 search fitcontent center">
				<ul>
					<input type="text" name="search" placeholder="Headsets" />
					<a href="">&nbsp;<i class="fas fa-search"></i></a>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col12">
				<hr />
			</div>
		</div>

		<!-- Customer profile view -------------------------------------------->

		<div class="row">
			<div class="row  marginb50 margint50">
				<h2 class="marginl100"><i class="fas fa-user"></i>&nbsp; &nbsp;Profile Details</h2>
				<div class="col12">
					<div class="hrCustom">
						<hr />
					</div>
				</div>
			</div>
			<div class="row">
				<table>
					<tr>
						<td id="td-1">Your Name:</td>
						<td>Sample name is here</td>
					</tr>
					<tr>
						<td id="td-1">Username:</td>
						<td>Sample Username is here</td>
					</tr>
					<tr>
						<td id="td-1">Password:</td>
						<td> ********** </td>
					</tr>

					<tr>
						<td id="td-1">Date of Birth:</td>
						<td>Sample DOB is here</td>
					</tr>
					<tr>
						<td id="td-1">Gender:</td>
						<td>Sample Gender is here</td>
					</tr>
					<tr>
						<td id="td-1">Primary Email:</td>
						<td>sample@gmail.com</td>
					</tr>
					<tr>
						<td id="td-1">Mobile Number:</td>
						<td>Sample number is here</td>
					</tr>
					<tr>
						<td id="td-1">Address:</td>
						<td>Sample address is here</td>
					</tr>
					<tr>
						<td id="td-1">Country:</td>
						<td>Sample state is here</td>
					</tr>


				</table>
				</div>
				<div class="center margint20 marginb50">
				<form>
					
					<button type="submit" name="edit-details" value="update-details">Change password</button>
					<button type="submit" name="edit-details" value="update-details">Edit Details</button>

				</form>
			</div>	
		</div>

			<!-- inner-part -->

		</div>

    <!-- bottom-part-------------------------------------------->

    <div class="row">
		<div class="col12 fullwidth">
	  <hr>
		</div>
	  
  </div>
  <div class="row center backcolor">

	
	<div class=" col3 img-span hidden-sm">
	  <td ><img src="../images/SideLogo.png"  width='200'></td>
	</div>

	<div class="col9  nav-bar center">       
  <table class="row center sm-table">
	  <tr class="thead center">
	  
	  <td>Main Menu</td>
	  <td>Find us On</td>
	  <td>Contact us</td>
	</tr>
  
	<tr>
	  <!-- <td></td> -->
	  <td><a href="">About Affiliox <i class="fas fa-users"></i></a></td>
	  <td><a href=""></i>FaceBook <i class="fab fa-facebook-f"></i></a></td>
	  <td>Address: Sri Lanka.</td>
	</tr>
	<tr>
	  <!-- <td></td> -->
	  <td><a href="">Help & Support <i class="fas fa-question-circle"></a></td>
	  <td><a href="">Twitter <i class="fab fa-twitter"></i></a></td>
	  <td>Phone: 011-1234567</td>
	</tr>
	<tr>
	  <!-- <td></td> -->
	  <td><a href="">Privacy & Policy <i class="fas fa-shield-alt"></i></a></td>
	  <td><a href="">Youtube <i class="fab fa-youtube"></i></a></td>
	  <td>Email: affiliox@gmail.com</td>	
	</tr>

  </table>
  </div> 
  
   </div>  
   <!-- bottom-part -->

	  <div class="row footer backcolor paddingt20">
	
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</li>
				<li> Affiliox &trade;</li>
			</ul>
	  </div>	 <!-- footer -->
	  
</div>

  <div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="">User profile<i class="far fa-user"></i></a>  		
	<a href="">Marker Place<i class="fab fa-shopify"></i></a>
	<a href="">Shopping cart<i class="fas fa-shopping-cart"></i></i></a>
		<a href="">Orders<i class="fas fa-chart-line"></i></i></a>
		<a href="">Transactions<i class="fas fa-money-check-alt"></i></a>
		<a href="">Feedback<i class="fas fa-phone-square"></i></i></a>
		<a href="">Support<i class="fas fa-envelope-open-text"></i></a>
  </div>
  <span onclick="openNav()"></span>


	</div>
	<!--Container------------------------------------------>
</body>

</html>