<html>

<head>
  <title>Affiliox-Delivery</title>
  <link rel="stylesheet" type="text/css" href="../css/common.css" />
  <link rel="stylesheet" type="text/css" href="../css/customer-grid.css" />
  <script type="text/javascript" src="../js/Signin.js"></script>
  <script src="https://kit.fontawesome.com/6cdc06033e.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <!---Navigation bar-------------------------------------------->
  <div class="container">
    <div class="backcolor"> 
      <div class="row hidden-xm marginb100 backcolor">
      <div class=" nav-bar sm-logo-nav hidden-xm  sm-header backcolor " >
          
        <div class="sm-1 open-btn" onclick="openNav()">&#9776;</div>
        <div class="sm-9">
          <a href="../index.html"><img src="../images/Sidelogo.png" alt="Affiliox LOGO"/></a>
        </div>
        <div class="sm-2 ">
          <div class="selector margint20">
            <select>
              <option value="sign in">Sign In</option><br/>
              <option value="login">Login</option><br/>
            </select>
          </div>
        </div>
        

      </div>
    </div>
      <div class=" nav-bar center backcolor">
        <div class="col1 open-btn hidden-sm" onclick="openNav()">&#9776;</div>
        <div class="col2 hidden-sm">
          <a href="../index.html"><img src="../images/Sidelogo.png" alt="Affiliox LOGO"/></a>
        </div>

        <div class="col4 center">
          <ul>
            <a href=""><i class="fas fa-home"></i>&nbsp;Home</a>
            <a href=""><i class="fas fa-users"></i>&nbsp;About Us</a>
            <a href=""><i class="fas fa-inbox"></i>&nbsp;Help</a>
            <a href=""><i class="fas fa-users"></i>&nbsp;Account</a>
          </ul>
        </div>

        <div class="col4 search fitcontent center">
          <ul>
            <input type="text" name="search" placeholder="Headsets" />
            <a href=""><i class="fas fa-search"></i></a>
          </ul>
        </div>
        <div class="col1 hidden-sm ">
          <div class="selector margint20">
            <select>
              <option value="sign in">Sign in</option><br/>
              <option value="login">Login</option><br/>

            </select>
          </div>

        </div>


      </div>
    
      <div class="row">
		  <div class="col12 fullwidth">
        <hr>
		  </div>
        
    </div>
  </div>

    <!-- Container content  --------------------------------------------->

    <div class="row margint50 sm-center ">
      <div class="col9 search label ">
        <div class="col12 ">
          <div class="hrCustom">
            <h2> Delivery Details</h2>
            <hr />
          </div>
        </div>
        <div class="col12">
          <div>
            <label for="fname"><i class="fa fa-user"></i> &nbsp;Full Name</label><br><br>
            <input type="text" id="fname" name="fullname" placeholder="Kamal sachintha"> <br>
          </div>
        </div>
        <div class="col12">
          <div class="sm-text-width ">
            <label for="channels"><i class="fa fa-address-book"></i> &nbsp;Address Line</label><br>
            <br>
            <textarea rows="7"  name="description" placeholder="Address lines 1,2"></textarea><br>
          </div>
        </div>
        <div class="col12">
          <div class="col6">
            <div>
              <label for="city"><i class="fa fa-city"></i> City</label><br><br>
              <input type="text" id="city" name="acity" placeholder="Warakapola">
            </div>
          </div>
          <div class="col6">
            <div>
              <label for="country"><i class="fa fa-globe"></i> Country</label><br><br>
              <input type="text" id="country" name="country" placeholder="Srilanka"><br>
            </div>
          </div>
        </div>
        <div class="col12">
          <div class="">
            <label for="phn-no"><i class="fa fa-phone"></i>&nbsp; Phone Number</label><br><br>
            <input type="text" id="phn-no" name="phn-no" placeholder="0771123344"><br>
          </div>
        </div>
        <form>
        <div class="col12 ">
          <div class="col6 labelHover">
            <label>
            <div class="boxsummery radio-hover sm-width center margint20"> 
              <input  class="sm-width" type="radio" name="delivery-type" />
              <h3> Free Delivery </h3>
              <p>  ETA :within 7-14 Days </p>
            </div>
          </label>
          </div>
          <div class="col6">
            <label >
            <div class="boxsummery  radio-hover sm-width center margint20">
              <input type="radio" name="delivery-type" />
              <h3> Charged Delivery </h3>
              <p>  ETA :within 3-6 Days </p>
            </div>
            </label>
          </div>
        </div>
        </form>



        <div class="row">
          <div class="col12 hrCustom">
            <hr>
          </div>
        </div>
      </div>

      <div class="col3 ">
        <div class="margint50 marginb50">
          <div class="boxsummery">
            <div class="col12 hrCustom">
              <div class="margint100 center">
                <h2>Summary</h2>
                <hr />
              </div>
            </div>

            <div class="col12 hrCustom">
              <div>
                <p> SUBTOTAL : Rs 4000.00 </p>
                <p> SHIPPING : FREE </p>
                <p> TAXES : Rs 400.00 </p>
                <hr />
              </div>
            </div>
            <div class="col12 ">
              <div class="marginb100 boxsummery">
                <h2>Total : RS 4400.00</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row ">

      <div class="col12 ">
        <div class="center marginb50">
          <button type="submit" value="submit"> &nbsp; Proceed To Payment &nbsp; </button>
          <button type="reset" value="reset"> &nbsp; Reset &nbsp; </button>
        </div>
      </div>
    </div>




      <!-- bottom-part-------------------------------------------->

      <div class="row">
        <div class="col12 fullwidth">
          <hr>
        </div>
          
      </div>
      <div class="row center backcolor">
  
        
        <div class=" col3 img-span hidden-sm">
          <td ><img src="../images/SideLogo.png"  width='200'></td>
        </div>
  
        <div class="col9  nav-bar center">       
      <table class="row center sm-table">
          <tr class="thead center">
          
          <td>Main Menu</td>
          <td>Find us On</td>
          <td>Contact us</td>
        </tr>
      
        <tr>
          <!-- <td></td> -->
          <td><a href="">About Affiliox <i class="fas fa-users"></i></a></td>
          <td><a href=""></i>FaceBook <i class="fab fa-facebook-f"></i></a></td>
          <td>Address: Sri Lanka.</td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td><a href="">Help & Support <i class="fas fa-question-circle"></a></td>
          <td><a href="">Twitter <i class="fab fa-twitter"></i></a></td>
          <td>Phone: 011-1234567</td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td><a href="">Privacy & Policy <i class="fas fa-shield-alt"></i></a></td>
          <td><a href="">Youtube <i class="fab fa-youtube"></i></a></td>
          <td>Email: affiliox@gmail.com</td>	
        </tr>
  
      </table>
      </div> 
      
       </div>  
       <!-- bottom-part -->
  
      <div class="row footer backcolor paddingt20">
        
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</li>
            <li> Affiliox &trade;</li>
          </ul>
          </div>	 <!-- footer -->
          
  </div>
  
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="">User profile<i class="far fa-user"></i></a>  		
        <a href="">Marker Place<i class="fab fa-shopify"></i></a>
        <a href="">Shopping cart<i class="fas fa-shopping-cart"></i></i></a>
        <a href="">Orders<i class="fas fa-chart-line"></i></i></a>
        <a href="">Transactions<i class="fas fa-money-check-alt"></i></a>
        <a href="">Feedback<i class="fas fa-phone-square"></i></i></a>
        <a href="">Support<i class="fas fa-envelope-open-text"></i></a>
    </div>
    <span onclick="openNav()"></span>

  </div>
  <!--Container------------------------------------------>
</body>

</html>